body {  
    background: #baf1e8;
    padding: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}


nav a {
    text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}
#banner{
    margin: auto;
    display: block;
    height: 10%;
    width: 10%;
}

.principal{
    text-align: center;
    padding: 10px;
}
.titulo-centralizado{
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.texto{
    background: #ffffff;
    
}

main {
	width: auto;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form p {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.descricao{
    font-size: 24px;
    font-weight: bold;
}

.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox{
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: rgb(97, 252, 174);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5%;
	transition: 1s all;
	cursor: pointer;
}

    .enviar:hover{
        background: rgb(0, 81, 255);
        transform: ;
    }