body {  
    background: #baf1e8;
    padding: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}


nav a {
    text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}
#banner{
    margin: auto;
    display: block;
    height: 10%;
    width: 10%;
}

.principal{
    text-align: center;
    padding: 10px;
}
.titulo-centralizado{
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

p{
    text-align: center;
    font-size:40px;
}

i {
    color: #ff0000;
}

.itens{
    font-style: italic;
    font-size: 40px;
}

.texto{
    background: #ffffff
}

ul {
	display: inline-block;
	vertical-align: top;
}

.jogos{
    width: auto;
    margin: 0 auto;
    padding: 50px 0;
}

.jogos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 1% 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
    background: #96f3ad
}

.

.jogos li:hover{
    border-color:#c78c19;
}

.jogos li:hover h3{
    font-size: 34px;
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
   
  }
  
  .gif-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 356px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-item:hover .gif-overlay {
    opacity: 1;
  }
  
  .gif1 {
    background-image: url(street-fighter-ii-snes.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .gif2 {
    background-image: url(farcry1.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .gif3 {
    background-image: url(winning-eleven.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gif4 {
    background-image: url(smashbros.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gif5 {
    background-image: url(zelda.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gif6 {
    background-image: url(renéhiguita-goal.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gif7 {
    background-image: url(natação.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gif8 {
    background-image: url(alongamento.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.jogos li:active {
	border-color: #e40d4d;	
}

img {
    width: 450px;
    height: 356px;
    cursor: pointer;
}

.jogos h3 {
	font-size: 30px;
	font-weight: bold;
}

.descricao-de-jogo {
	font-size: 25px;
}

.tipo-de-jogo {
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
    text-transform: uppercase;
}

@media screen and (max-width: 780px) {{
  .caixa, .principal, {
    width: auto;
  }

	nav {
		position: static;
	}

  h1{
		text-align: center;
	}

  .image-item, .image-container, .jogos, .gif-overlay, .itens {
    width: auto; 
    heigth: auto;
  }
}